<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body id="contactBody">
<!--
<form class="contactForm">
  Name:<br>
  <input type="text" name="name"><br>
  Email:<br>
  <input type="email" name="name"><br>
  Message:<br>
  <input type="text" name="message"><br><br>
  <input type="submit" value="submit"><br>
</form>
-->

<!--###########################################################-->
<!-- Header/Title here -->
<div class="row">
  <div class="col-sm-12">
    <h1 class="headerText contactHeader">Contact Me</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 myEmailWrapper">
    <p class="myEmail">michaelchasedev@gmail.com</p>
  </div>
  <div class="col-sm-3"></div>
</div>

<!--###########################################################-->
<!-- Social Media Icons -->
<div class="row socialmediaIcons">
  <div class="col-sm-12">
    <a href="https://www.linkedin.com/in/michael-chase-301859161" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://www.facebook.com/mike.chase.17" target="_blank" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/mchase.fit/" target="_blank" class="fa fa-instagram"></a>
    <a href="https://github.com/Chazz-Michaels" target="_blank" class="fa fa-github"></a>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <a href="#home">
      <span class="glyphicon glyphicon-menu-up"></span>
    </a>
  </div>
</div>




</body>
</html>
