<!DOCTYPE html>
<html>
<head>
</head>

<body id="footerBody">

  <!--###########################################################-->
  <!-- Header/Title here -->
  <div class="row">
    <div class="col-sm-12">
      <div class="footerHeader">Michael Chase &copy;2018</div>
    </div>
  </div>






</body>
</html>
